{
    "env": {
        "node": true,
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": { "jsx": true },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "rules": {
        "no-template-curly-in-string": "error",
        "require-atomic-updates": "error",
        "array-callback-return": "error",
        "default-case": "error",
        "max-classes-per-file": ["error", 1],
        "no-div-regex": "error",
        "no-empty-function": "error",
        "no-floating-decimal": "error",
        "no-magic-numbers": "error",
        "no-multi-spaces": "error",
        "no-new": "error",
        "no-self-compare": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-useless-catch": "error",
        "radix": "error",
        "require-await": "error",
        "init-declarations": ["error", "always"],
        "no-shadow": "error",
        "handle-callback-err": ["error", "error"],
        "no-buffer-constructor": "error",
        "array-bracket-newline": ["error", "consistent"],
        "array-bracket-spacing": ["error", "never"],
        "array-element-newline": ["error", "consistent"],
        "block-spacing": "error",
        "brace-style": "error",
        "capitalized-comments": ["error"],
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "eol-last": ["error", "always"],
        "func-call-spacing": ["error", "never"],
        "function-paren-newline": ["error", "consistent"],
        "implicit-arrow-linebreak": ["error", "beside"],
        "indent": ["error", 4,  { "SwitchCase": 1 }],
        "jsx-quotes": ["error", "prefer-double"],
        "key-spacing": "error",
        "keyword-spacing": "error",
        "linebreak-style": "error",
        "lines-between-class-members": "error",
        "multiline-comment-style": ["error", "separate-lines"],
        "multiline-ternary": ["error", "always-multiline"],
        "new-cap": "error",
        "new-parens": "error",
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
        "no-lonely-if": "error",
        "no-mixed-operators": "error",
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "no-nested-ternary": "error",
        "no-tabs": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "nonblock-statement-body-position": ["error", "beside"],
        "object-curly-spacing": ["error", "always"],
        "operator-assignment": ["error", "never"],
        "operator-linebreak": ["error", "after"],
        "quotes": ["error", "double"],
        "quote-props": ["error", "consistent-as-needed"],
        "semi": ["error", "always"],
        "semi-spacing": "error",
        "semi-style": ["error", "last"],
        "space-before-blocks": "error",
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": ["error", { "words": true, "nonwords": false }],
        "spaced-comment": ["error", "always"],
        "switch-colon-spacing": "error",
        "template-tag-spacing": "error",
        "wrap-regex": "error",
        "arrow-parens": ["error", "always"],
        "arrow-spacing": "error",
        "no-duplicate-imports": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "object-shorthand": ["error", "always"],
        "prefer-arrow-callback": "error",
        "prefer-destructuring": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "rest-spread-spacing": ["error", "never"],
        "symbol-description": "error",
        "template-curly-spacing": "error",

        "react/no-deprecated": "error",
        "react/no-did-mount-set-state": "error",
        "react/no-did-update-set-state": "error",
        "react/no-multi-comp": "error",
        "react/no-redundant-should-component-update": "error",
        "react/no-typos": "error",
        "react/no-this-in-sfc": "error",
        "react/no-unsafe": "error",
        "react/no-unused-state": "error",
        "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
        "react/jsx-closing-tag-location":  "error",
        "react/jsx-curly-spacing": "error",
        "react/jsx-equals-spacing": ["error", "never"],
        "react/jsx-key": "error",
        "react/jsx-no-target-blank": "error",
        "react/jsx-space-before-closing": "error",

        "no-console": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/prefer-interface": "off",
        "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "props" }],
        "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true, "allowTypedFunctionExpressions": true }]
    }
}
