.wrapper { border: 1px solid #ccc; }

.header,
.footer { padding: 25px; }

.subtitle {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
}

.button-wrapper {
    display: flex;
    align-items: center;
}

.button { margin-right: 15px; }

.input-size { max-width: 50%; }
