.navigation-item {
    z-index: 10;
    position: relative;
    width: 20rem;
    margin-right: 1.5rem;
    padding: 1rem;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}

.step {
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-size: 2rem;
    line-height: 5rem;
    border: 2px solid var(--mustard);
    border-radius: 2px;
}

.navigation-item::before {
    z-index: 5;
    position: absolute;
    content: "";
    top: 3.25rem;
    right: 12.5rem;
    height: 2px;
    width: 16.5rem;
    background-color: var(--stepper__background-color);
}

.navigation-item:first-child::before { display: none; }

.navigation-item.pass .step {
    background-color: var(--stepper__background-color);
}

.navigation-item.pass::before,
.navigation-item.current::before { background-color: var(--stepper__background-color); }

.navigation-item.disabled::before { background-color: var(--stepper__background-color--disabled); }

.navigation-item.current { cursor: default; }

.navigation-item.current .step {
    border-color: var(--stepper__border-color--active);
    background-color: var(--mustard);
}

.navigation-item.disabled { cursor: not-allowed; }

.navigation-item.disabled .step {
    color: var(--stepper__color--disabled);
    border-color: var(--stepper__border-color--disabled);
    background-color: var(--stepper__background-color--disabled);
}

.step-title { text-transform: uppercase; }

.navigation-item:last-child { margin-right: 0; }

@media screen and (max-width: 1314px) {
    .navigation-item {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 2px;
        padding: 0;
        align-items: center;
    }

    .navigation-item::before {
        display: none;
    }

    .step {
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        border-radius: 50%;
        border: none;
        background-color: var(--stepper__background-color);
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .step-title {
        display: none;
        margin-bottom: 0;
        padding-left: 5px;
    }

    .navigation-item.current {
        width: 14rem;
        font-size: 1rem;
    }

    .navigation-item.current .step-title {
        display: block;
    }

    .navigation-item.disabled .step {
        color: var(--stepper-mobile__color--disabled);
        border-color: var(--stepper-mobile__border-color--disabled);
        background-color: var(--stepper-mobile__background-color--disabled);
    }

    .navigation-item.pass .step {
        position: relative;
        font-size: 0;
        background-image: url("../images/checkmark.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 15px 15px;
    }
}
