@import "../style/variables.css";
@import "~normalize.css";
@import "../style/fonts.css";
@import "../components/buttons/buttons.css";

html { font-size: 10px; }

body {
    font-family: var(--font-family__app);
    font-size: var(--font-size__app);
    line-height: var(--line-height__app);
    color: var(--color__app);
    background-color: var(--white, #fff);
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
