.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.field {
    position: relative;
    width: 30rem;
    margin-bottom: 3rem;
    padding-bottom: 6rem;
}

@media screen and (max-width: 700px) {
    .field {
        width: 45%;
    }
}
