.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.field {
    position: relative;
    width: 30rem;
    margin-right: 5rem;
    padding-bottom: 6rem;
}

.field:nth-child(3n) { margin-right: 0; }

.counter {
    position: absolute;
    width: 18rem;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
    margin-bottom: 1rem;
    background-color: var(--cp-step1__background-color);
    border: 3px solid #333;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}

.room-item-image {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.5rem;
}

.room-item-title {
    font-weight: 700;
    transition-property: all;
    transition-duration: 0.3s;
}

.input:checked + .label { background-color: var(--cp-step1__background-color--hover); }

.input:checked + .label .room-item-title { color: #fff; }
