:root {
    /* Fonts */
    --font-family__sans-serif: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;

    --font-family__app: "Open Sans", var(--font-family__sans-serif, "sans-serif");
    --font-size__app: 1.4rem;
    --line-height__app: 1.5;
    --color__app: var(--black__20, #333);

    /* Colors */
    --white: #fff;
    --black: #000;
    --black__20: #333;
    --mustard: #c49f68;
    --orange: #ecb32d;
    --red: #e74246;

    /* Buttons */
    --main-button__color: var(--white, #fff);
    --main-button__color--hover: var(--black, #000);
    --main-button__background-color: var(--black__20, #333);
    --main-button__background-color--disabled: #3335;
    --main-button__border-color: var(--black, #000);
    --main-button__border-color--hover: var(--mustard, #c49f68);
    --main-button__border-color--disabled: #0005;

    /* Links */
    --link__color: var(--mustard, #c49f68);

    /* Form fields */
    --field__color: var(--black__20, #333);
    --field__background-color: var(--white, #fff);
    --field__background-color--error: #fbdfdf;
    --field__background-color--warning: #fcf4e1;
    --field__border-color: #0005;
    --field__border-color--hover: #0008;
    --field__border-color--focus: #000;
    --field__border-color--error: #eb6568;
    --field__border-color--warning: #f1c763;
    --field-message__color--warning: var(--orange, #ecb32d);
    --field-message__color--error: var(--red, #e74246);

    /* Form field counter */
    --field-counter__color: var(--black__20, #333);
    --field-counter__background-color: var(--white, #fff);
    --field-counter__border-color: var(--mustard, #c49f68);
    --field-counter__border-color--hover: #b99f4c;
    --field-counter__button-color: #909090;
    --field-counter__button-color--hover: var(--mustard, #c49f68);

    /* Stepper */
    --stepper__background-color: var(--mustard, #c49f68);
    --stepper__border-color--active: #000;
    --stepper__color--disabled: #ccc;
    --stepper__border-color--disabled: #ccc;
    --stepper__background-color--disabled: #ede1d0;
    --stepper__link-color: #3d4149;
    --stepper__link-color--hover: #26282d;
    --stepper__link-color--disabled: #ccc;
    --stepper-mobile__color--disabled: #333;
    --stepper-mobile__border-color--disabled: #dbdbdb;
    --stepper-mobile__background-color--disabled: #dbdbdb;

    /* Custom package */
    --cp-step__background-color: #fff;
    --cp-step__background-color--hover: #c4b9a5;
    --cp-step-subtitle-color: #909090;
    --cp-step-link__color: var(--color__app, #333);
    --cp-step-link__color--hover: #000;
}
