:root {
    /* Colors */
    --white: #fff;
    --black: #000;
    --black__20: #333;
    --mustard: #c49f68;

    /* Buttons */
    --main-button__color: var(--white, #fff);
    --main-button__color--hover: var(--black, #000);
    --main-button__background-color: var(--black__20, #333);
    --main-button__background-color--disabled: #3335;
    --main-button__border-color: var(--black, #000);
    --main-button__border-color--hover: var(--mustard, #c49f68);
    --main-button__border-color--disabled: #0005;

    /* Fonts */
    --font-family__sans-serif: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;

    --font-family__app: "Open Sans", var(--font-family__sans-serif, "sans-serif");
    --font-size__app: 1.4rem;
    --line-height__app: 1.5;
    --color__app: var(--black__20, #333);
}
